/***************************
 * Reset
 **************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***************************
 * Style
 **************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #282828;
  font-family: 'Arvo', serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.ff_special {
  font-family: 'Covered By Your Grace', cursive;
}

h1 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1;
  overflow: hidden;
  span {
    display: inline-block;
  }
}

.slogan {
  overflow: hidden;
  margin-bottom: 40px;
}

h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;
  white-space: nowrap;
  line-height: 1;
}

p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
  span {
    text-decoration: underline;
  }
}

#launch {
  padding: 14px 30px;
  border: 1px dashed #fff;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  position: relative;
  opacity: 0;
  border-radius: 50%;
  width: 0;
  svg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 62px;
    height: 63px;
    circle {
      fill: transparent;
      stroke: #fff;
      stroke-width: 2px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      -webkit-transition: .4s stroke-dashoffset ease-out;
      -moz-transition: .4s stroke-dashoffset ease-out;
      -ms-transition: .4s stroke-dashoffset ease-out;
      -o-transition: .4s stroke-dashoffset ease-out;
      transition: .4s stroke-dashoffset ease-out;
    }
  }
  &:hover {
    svg circle {
      stroke-dashoffset: 800;
    }
  }
}

.sound-name {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0;
}

.launch {
  position: absolute;
  z-index: 150;
  top: 50%;
  left: 50%;
  padding: 20px 50px;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#uploadSound {
  margin-bottom: 40px;
  label {
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    width: 218px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    border: 1px dashed rgba(255, 255, 255, .4);
    svg {
      position: absolute;
      top: -1px;
      left: -1px;
      width: 218px;
      height: 48px;
      rect {
        fill: transparent;
        stroke: #fff;
        stroke-width: 2px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        -webkit-transition: .6s stroke-dashoffset ease-out;
        -moz-transition: .6s stroke-dashoffset ease-out;
        -ms-transition: .6s stroke-dashoffset ease-out;
        -o-transition: .6s stroke-dashoffset ease-out;
        transition: .6s stroke-dashoffset ease-out;
      }
    }
    &:hover {
      svg rect {
        stroke-dashoffset: 400;
      }
    }
  }
  input {
    display: none;
  }
}

.bg {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  bottom: 50px;
}

.congrats {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.img {
  float: left;
  overflow: hidden;
  position: relative;
  .viewport {
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    img {
      width: 100vw;

      height: auto;
    }
  }
}

.alerts {
  font-size: 64px;
  color: #fff;
  position: absolute;
  opacity: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0);
  -moz-transform: translate3d(-50%, -50%, 0) scale(0);
  -ms-transform: translate3d(-50%, -50%, 0) scale(0);
  -o-transform: translate3d(-50%, -50%, 0) scale(0);
  transform: translate3d(-50%, -50%, 0) scale(0);
}

footer {
  position: fixed;
  z-index: 200;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  border-top: 1px dashed rgba(255, 255, 255, .4);
  text-align: center;
  background-color: #282828;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  .find {
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
  }
  form {
    margin-bottom: 20px;
    input, button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    input {
      background-color: transparent;
      border: 1px dashed rgba(255, 255, 255, .4);
      padding: 15px;
      color: #fff;
      width: 240px;
      font-family: 'Arvo', serif;
      text-transform: uppercase;
    }
    button {
      font-family: 'Arvo', serif;
      padding: 15px;
      border: 0;
      background: transparent;
      color: #fff;
      margin-left: -57px;
      cursor: pointer;
    }
  }
}